# MEGAlib gitignore file

# bin directory
bin/cosima
bin/eview
bin/geomega
bin/mimrec
bin/melinator
bin/realta
bin/revan
bin/sivan
bin/spectralyze
bin/AspectOptimizerStep1
bin/CompareHistograms
bin/DistanceOptimizerForEventClusterizer
bin/SimBinaryConverter
bin/TH1_summer_cpp
bin/ThresholdCalculation
bin/TraMerger
bin/UTARMFitter
bin/UTCosimaInputSpectra
bin/photopeak_depth_distribution
bin/xyscanner

BackgroundMixer
ConvertACTtools
ConvertMGGPOD
ConvertMGeant
DecayAnalyzer
ExternalDataAnalysisExample
Linux-g++
Mask
Revoxelizer
SensitivityOptimizer
ShowHistograms
SimAnalyzer
SimCombiner
SimRandomCoincidence
SimpleComptonImaging
TraAnalyzer
eventtransmitter
modifiedcosima
quickparse
responsecreator
responsemanipulator
bundler
SimRewriter
StandAlone
Clusterizer
ConvertPhantom
Shells
MDetectorEffectsEngineCOSI
SimpleBinnedComptonImaging
ThresholdDeterminator
nuclearizer
pnGraphs
SiStack
BDStatistics
CrossTalkOffsets
EnergyResolutionCalibration
IsotopeFileSplitter
depth_calibration
depth_calibration2
depth_scan_calibrator
ChargeLossCorrection                                                                                                                                                           
ChargeLossOffsets                                                                                                                                                              
TimeJumpDetector                                                                                                                                                               
VariableSourceDetector
cellmerger
cellviewer
cubesplitter
depth_calibration_cosi2016
depth_calibration_cosi2016_v2
depth_calibration_cosi2016_v3
feeder
sphereworldsimulator
neuralnettester
RevanAnalyzer

#config directory:
Makefile.options
Makefile.user
Makefile.config
UpdateCheck.txt
configure_lastgoodoptions
source-megalib.sh
SetupOptions.txt
new-source-megalib.sh
config/Configuration.txt

# doc directory:
Peoples.txt

# Created directories
include
lib
external
External

# Special files
*~
*.so
*.o
*.dylib
*.tgz
*.gz
*.sim
*.tra
*.orig
*.rej
*.dSYM*
*.killcosimas.bash
.DS_Store
callgrind.*
*.rsp
*.erm

