/* css for the slideshow */
    
.nd-ps-main {
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
}
.nd-ps-figure {
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
  padding-top: 0.5em;
  opacity: 0;
}


@media screen and (min-width: 700px) {
  .nd-ps-main {
    min-height: 20.0em;
    max-height: 20.0em;
  }
  .nd-ps-figure {
    min-height: 19.0em;
    max-height: 19.0em;
  }
  
  .nd-ps-image {
    max-width: 35%;
    float: left;
    margin-left: 2.5em;
  
    min-height: 19.0em;
    max-height: 19.0em;
  }
  .nd-ps-figure-caption {
    max-width: 55%;
    float: right;
    margin-right: 3.0em;
    
    font-style: italic;
  }
  .nd-ps-title {
    margin: 0.2em 0 0em;
    padding-left: 0.5em;
    font-size: 1.4em;
    font-style: italic;
  }
  .nd-ps-caption {
    padding-left: 0.5em;
    font-size: 0.9em;
    font-style: italic;
  }
}

@media screen and (max-width: 700px) {
  .nd-ps-figure {
    max-width: calc(100vw - 6.0em);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .nd-ps-image {
    max-width: calc(100vw - 6.0em);
    max-height: 25em;
  }
  .nd-ps-figure-caption {
    font-style: italic;
  }
  .nd-ps-title {
    margin: 0.2em 0 0em;
    font-size: 1.2em;
    //font-style: italic;
  }
  .nd-ps-caption {
    //max-width: calc(100vw - 8.0em);
    font-size: 0.9em;
    //font-style: italic;
  }
}


.nd-ps-show-figure {
  opacity: 1;
  position: static;
  transition: 1s opacity;
}
.nd-ps-backwardsbutton, .nd-ps-forwardsbutton {
  position: absolute;
  z-index: 9;
  background: red;
  top: 0%;
  margin-top: 5%;
  padding-bottom: 33%;
  padding-top: 33%;
  opacity: 0;
  user-select: none;
}
.nd-ps-backwardsbutton {
  left: 0.0em;
  padding-left: 30%;
}
.nd-ps-forwardsbutton {
  right: 0.0em;
  padding-right: 30%;
}

.nd-ps-forwardstext, .nd-ps-backwardstext {
  cursor: default;
  color: black;
  position: absolute;
  //background: rgba(255, 255, 255, .4);
  top: 50%;
  z-index: 10;
  font-size: 3em;
  line-height: 3em;
  margin-top: -1.5em;
  user-select: none;
  border-radius: 50%;
}
.nd-ps-forwardstext {
  right: 0.0em;
  padding-top: 0px;
  padding-bottom: 0.1em;
  padding-left: 0.4em;
  padding-right: 0.1em;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
.nd-ps-backwardstext {
  left: 0.0em;
  padding-top: 0px;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  padding-right: 0.4em;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}
